.card {
  margin: 15px auto;
  min-width: 320px;
  max-width: 556px;
  width: 85%;
}

#form-group input {
  margin-right: 1em;
  margin-bottom: 1em;
}

.level {

}

.form-inline div label {
  margin: inherit;
}

.message {
  margin-top: 1em;
}

.invisible {
  display: none;
}

.badge {
  margin-left: 1em;
  cursor: pointer;
  float: right;
}

.card-title {
  display: inline;
}

label.custom-control-label {
  float: left;
}

.custom-checkbox {
  width: 18%;
}

.level, .desire{
  width: 33%!important;
  display: flex!important;
}

.custom-select {
  width: 54px;
}
