.card {
  margin: 15px auto;
  min-width: 400px;
  width: 35%;
}

form#login input {
  margin-right: 1em;
}

.message {
  margin-top: 1em;
}

.invisible {
  display: none;
}

.badge {
  margin-left: 1em;
  cursor: pointer;
  float: right;
}

.card-title {
  display: inline;
}
